.mobile-menu
    background-color: #fff
    border-radius: 0 0 0.625rem 0.625rem // 0 0 10px 10px
    display: none
    height: 3.125rem // 50px
    position: fixed
    bottom: 0
    width: 100%
    z-index: 200
    &__wrapperPhoneHumburger
        align-items: center
        background-color: #FBE239
        display: flex
        height: 3.125rem // 50px
        justify-content: flex-end
        width: 100%
    &__phone
        a   
            border-radius: 0.3125rem // 4px
            color: black
            font-size: 1.1rem
            font-family: SegoeUIBold
            margin-right: 3rem
            text-decoration: none
    &__humburger
        align-items: center
        display: flex
        justify-content: center

.mobile-nav
    align-items: center
    background-image: url(../img/main_back.jpg)
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    bottom: 0
    display: flex
    flex-direction: column
    justify-content: flex-end
    height: calc(100%-50px)
    left: 0
    overflow: scroll
    padding: 0 0 0 0
    position: fixed
    right: 0
    top: 0
    transition-property: width
    transition-duration: .4s
    z-index: 200
    &_hide
        width: 0
    &_active
        border-right: 1px solid black
        width: calc(100% - 80px)
    &__bg
        background-image: url(./../html-img/logo.png)
        background-position: center
        background-repeat: no-repeat
        background-size: contain
        border-left: 15px solid rgba(0, 0, 0, 0)
        border-right: 15px solid rgba(0, 0, 0, 0)
        height: calc(100% - 200px)
        position: absolute
        top: 0
        width: 100%
    &__accordion
        // background-color: gray
        height: auto
        min-width: 240px
        overflow: scroll
        width: 100%
        z-index: 150
    &__accordion-item
        height: auto
        width: 100%
        vertical-align: middle
    &__item-header
        align-items: center
        background-color: #fbe239
        border-bottom: 1px solid black
        font-family: MuseoSansBlack
        font-size: 25px
        display: flex
        height: 50px
        padding: 0 0 0 10px
        white-space: nowrap
        width: 100%
    &__item-arrow
        &_down
            &:before
                border-left: 6px solid transparent
                border-right: 6px solid transparent
                border-top: 9px solid black
                content: ""
                display: inline-block
                height: 0
                margin-right: 5px
                display: inline-block
                transform: scaleY(-1)
                transition: 1s
                width: 0
                vertical-align: middle
        &_up
            &:before
                border-left: 6px solid transparent
                border-right: 6px solid transparent
                border-top: 9px solid black
                content: ""
                display: inline-block
                height: 0
                margin-right: 5px
                display: inline-block
                transform: scaleY(1)
                transition: 1s
                width: 0
                vertical-align: middle
    &__item-links
        background-color: #f2f6f7
        overflow: hidden
        transition-property: height
        transition-duration: .6s
        width: 100%
        &_hide
            height: 0
        &-1_active
            height: 300px
        &-2_active
            height: 240px
        &-3_active
            height: 60px
    &__link
        background-color: lighten(#fbe239, 10%)
        border-bottom: 1px solid lighten(black, 50%)
        display: flex
        align-items: center
        height: 30px
        padding: 0 0 0 10px
        a
            color: black
            font-family: MuseoSansRegular
            font-size: 16px
            text-decoration: none

@media (max-width: 991px)
    .mobile-menu
        display: block
