.mobileMenu
    background-color: #fff
    border-radius: 0 0 0.625rem 0.625rem // 0 0 10px 10px
    height: 3.125rem // 50px
    position: fixed
    top: 0
    width: 100%
    z-index: 200
    &--wrapperPhoneHumburger
        align-items: center
        display: flex
        height: 3.125rem // 50px
        justify-content: space-around
        width: 100%
    &--phone
        a   
            border-radius: 0.3125rem // 4px
            background-color: #FBE239
            color: black
            font-size: 1.5rem
            font-family: SegoeUIBold
            text-decoration: none
    &--humburger
        align-items: center
        display: flex
        justify-content: center
    &--arrow
        cursor: pointer
        height: 25px
        width: 40px